# Exclude common Python files
__pycache__
*.pyc

# Exclude development and local environment files
.env
venv/
.env.*

# Exclude version control system files
.git
.gitignore

# Exclude project-specific files or directories
logs/
*.log